Repository GregHandsley/pokeflip: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter admin lint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["pnpm --filter admin lint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "next.config.ts": ["prettier --write"],
  "vitest.config.ts": ["prettier --write"],
  "playwright.config.ts": ["prettier --write"],
  "postcss.config.mjs": ["prettier --write"],
  "sentry.*.config.ts": ["prettier --write"],
  "eslint.config.mjs": ["prettier --write"]
}

grok
  .lintstagedrc.json
  apps/admin/eslint.config.mjs
  apps/admin/next.config.ts
  apps/admin/package.json
  apps/admin/vercel.json
  apps/admin/wrangler.toml
Due: pnpm --filter admin lint --fix, prettier --write

fix linting for config files
  .lintstagedrc.json
  apps/admin/package.json
Due: prettier --write

update vercel.json to use pnpm
  apps/admin/vercel.json
Due: prettier --write

fix vercel deployment to use pnpm
  apps/admin/package.json
  apps/admin/vercel.json
Due: prettier --write

Production Ready
  CLOUDFLARE_FINAL_FIX.md
  CLOUDFLARE_FIX.md
  CLOUDFLARE_FIX_FINAL.md
  CLOUDFLARE_PAGES_CONFIG.md
  CLOUDFLARE_PAGES_SETTINGS.md
  CLOUDFLARE_PAGES_SETTINGS_FINAL.md
  CLOUDFLARE_SETUP.md
  CLOUDFLARE_TURBOPACK_ISSUE.md
  HOSTING.md
  INPUT_SANITIZATION.md
  PERFORMANCE_OPTIMIZATIONS.md
  apps/admin/eslint.config.mjs
  apps/admin/wrangler.toml
Due: prettier --write

Wrangler Removal
  apps/admin/wrangler.toml
Due: none

Compiling Fix
  apps/admin/next.config.ts
Due: pnpm --filter admin lint --fix, prettier --write

Fixing
  apps/admin/ENV_CONFIG.md
  apps/admin/next.config.ts
  apps/admin/wrangler.toml
  supabase/schema_for_hosted.sql
Due: pnpm --filter admin lint --fix, prettier --write

More fixes
  apps/admin/.gitignore
  apps/admin/package.json
Due: prettier --write

vercel update
  apps/admin/vercel.json
Due: prettier --write

fixes
  apps/admin/package.json
Due: prettier --write

Last chance
  apps/admin/src/app/api/admin/acquisitions/route.ts
  apps/admin/src/app/api/admin/lots/[lotId]/delete/route.ts
  apps/admin/src/app/api/admin/lots/[lotId]/split/route.ts
  apps/admin/src/app/api/admin/lots/merge/route.ts
  apps/admin/src/app/api/admin/test-audit/route.ts
Due: pnpm --filter admin lint --fix, prettier --write

More fixes
  apps/admin/next.config.ts
  apps/admin/package.json
  apps/admin/sentry.edge.config.ts
  apps/admin/src/instrumentation.ts
  apps/admin/wrangler.toml
Due: pnpm --filter admin lint --fix, prettier --write

Smaller build
  apps/admin/next.config.ts
  apps/admin/src/app/api/sentry-example-api/route.ts
  apps/admin/src/lib/logger.ts
  apps/admin/src/lib/monitoring/alerts.ts
Due: pnpm --filter admin lint --fix, prettier --write

Junk purge
  apps/admin/.gitignore
  apps/admin/next.config.ts
  apps/admin/package.json
Due: pnpm --filter admin lint --fix, prettier --write
